include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    link(href='/css/viewmovie.css' rel='stylesheet')
    link(href='/css/menubar.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
    title #{movie.title} Movie Card
  body
    +menubar
    #movieinfoblackbackground
      #movieinfocard.movieinfocard
        h1#movieinfotitle #{movie.title}
        if (movie.hasOwnProperty('rating'))
          h3#movierating #{movie.rating}/10
        else
          h3#movierating N/A
        button#addtowatchlistbutton(type='button') ADD TO WATCHLIST
        br
        #movieinforeleasedate.moviedateduration #{movie.year}
        #movieinfoduration.moviedateduration #{movie.runtime}
        #genres.moviedateduration
          each genre in movie.genres
            a(href='/searchresults') #{genre}
            | /
        br
        h5 OVERVIEW
        #overviewdiv #{movie.plot}
        h5 DIRECTORS
        #movieinfodirectors.castcontainers
          each director in movie.director
            a(href='/viewpeople') #{director.name}
            br
        h5 WRITERS
        #movieinfowriters.castcontainers
          each writer in movie.writer
            a(href='/viewpeople') #{writer.name}
            br
        h5 ACTORS
        #movieinfoactors.castcontainers
          each actor in movie.actor
            a(href='/viewpeople') #{actor.name}
            br
      #recommendedmovieinfocard.recommendedmovieinfocard
        h3 RECOMMENDED MOVIES
        each movie in recommendedMovies
            div
              h4
                a(href='/movieprofile') #{movie.title} (#{movie.rating}/10)
              p #{movie.plot.slice(0, 70)}...
              p
                each genre in movie.genres
                  | #{' '} |#{genre}| #{' '}
    #reviewsonmoviepagecontainer.reviewsonmoviepagecontainer
      h5 ADD A SCORE OUT OF 10 (REQUIRED):
      input#reviewoutof10(type='number' min='0' max='10')
      h5 WRITE A BRIEF SUMMARY (OPTIONAL):
      textarea#briefsummaryinput(rows='4' cols='50')
      h5 WRITE A FULL REVIEW (OPTIONAL):
      textarea#fullreviewinput(rows='4' cols='50' type='text')
      button#submitreviewbutton(type='button' onclick='addReview()') SUBMIT
      #allreviewscontainer
        each review in movie.reviews
          .review
            .left
              .rating
                img(src='/img/Video.png' alt='')
                br
                p #{review.rating}/10
              p
                a(href='/viewuser') #{review.username}
            .right
              if (review.briefsummary)
                h4 Summary
                p
                  | #{review.briefsummary}
              if (review.review)
                h4 Full Review
                p
                  | #{review.review}
    script(src='/javascript/viewmovie.js' charset='utf-8')
