include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/searchresults.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title Search Results
    body
        +menubar
        .whitebackground
            h1 SEARCH RESULTS
            .results
                #resultsbox.resultsbox
                  if movies.length > 0
                    each movie in movies
                        .searchresult
                            h2
                                a(href=`/movies/`+ movie._id) #{movie.title} (#{movie.year})
                            each genre in movie.genres
                                p #{genre}
                  if movies.length <= 0
                    .searchresult
                      h2 No Films Meet These Criteria
                if current > 1
                  button#back
                    - let url =`movies?page=` + (current-1)
                    - url += query
                    a(href=url)
                      img(src='/img/backwards.png')
                if movies.length === 10
                  button#forward
                    - url = `movies?page=` + (current+1)
                    - url += query
                    a(href=url)
                      img(src='/img/forward.png')
