include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/userprofile.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title #{user.username}'s Profile
    body
        +menubar
        .blackbackground
            .welcomebox
                .left
                    p Welcome,
                    h3#username #{user.username.toUpperCase()}
                .right
                    img(src='/img/Profile.png' alt='user profile picture')
                    if(user.accountType)
                        p CONTRIBUTING USER
                    else
                        p BASIC USER
                    button#switchaccount(type='button' onclick='switchAccountType()') SWITCH ACCOUNT TYPE
            .profilecard
                .sections
                        div
                          p PEOPLE YOU FOLLOW
                          button#removepeoplebutton(type='button' name='editpeople' onclick='editPeople()') remove
                          #peopleyoufollowcontainer.profileboxes
                              each person in user.peopleFollowing
                                  .iconboxes(id=person._id)
                                      img(src='/img/Profile.png' alt='')
                                      br
                                      label(for='person')
                                          input(type='checkbox')
                                          a(href=`/people/`+ person._id) #{person.name}`
                        div
                            p USERS YOU FOLLOW
                            button#removeusersbutton(type='button' onclick='editUsers()') remove
                            #usersyoufollowcontainer.profileboxes
                                each u in user.usersFollowing
                                    .iconboxes(id=u._id)
                                        img(src='/img/Profile.png' alt='')
                                        br
                                        label(for='u')
                                            input(type='checkbox')
                                            a(href=`/users/`+ u._id) #{u.username}
                        div
                            p WATCHLIST
                            button#removewatchbutton(type='button' onclick='editWatchlist()') remove
                            #watchlistcontainer.profileboxes
                                each movie in user.watchlist
                                    .iconboxes(id=movie._id)
                                        img(src='/img/Video.png' alt='')
                                        br
                                        label(for='movie.title')
                                            input(type='checkbox')
                                            a(href=`/movies/`+ movie._id) #{movie.title}
                        div
                            p RECOMMENDED MOVIES
                            #recommendedmoviescontainer.profileboxes
                                each movie in recommendedMovies
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        label(for='movie')
                                            a(href='/movieprofile') #{movie.title}
                        div
                            p NOTIFICATIONS
                            #notificationscontainer.profileboxes
                                each notification in user.notifications
                                    if(notification.nType === "0")
                                        img(src='./img/review.png')
                                        p
                                            a(href='/viewuser') #{notification.name.toUpperCase()}
                                            |  wrote a review for a !{' '}
                                            a(href='/movieprofile') MOVIE
                                            | .
                                        br
                                    else if(notification.nType === "1")
                                        img(src='/img/watchlist.png')
                                        p
                                            a(href='/viewuser') #{notification.name.toUpperCase()}
                                            |  added a !{' '}
                                            a(href='/movieprofile') MOVIE
                                            |  to their watchlist.
                                        br
                                    else if(notification.nType === "2")
                                        img(src='/img/directed.png')
                                        p
                                            a(href='/viewpeople') #{notification.name.toUpperCase()}
                                            |  directed a !{' '}
                                            a(href='/movieprofile') MOVIE
                                            | .
                                        br
                                    else if(notification.nType === "3")
                                        img(src='/img/wrote.png')
                                        p
                                            a(href='/viewpeople') #{notification.name.toUpperCase()}
                                            |  wrote a !{' '}
                                            a(href='/movieprofile') MOVIE
                                            | .
                                        br
                                    else if(notification.nType === "4")
                                        img(src='/img/acted.png')
                                        p
                                            a(href='/viewpeople') #{notification.name.toUpperCase()}
                                            |  acted in a !{' '}
                                            a(href='/movieprofile') MOVIE
                                            | .
                                        br
    script(src='/javascript/userprofile.js' charset='utf-8')
