include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/viewingpeople.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title #{person.Name}'s Page
    body
        +menubar
        .blackbackground
            .personheader
                p #{person.Name.toUpperCase()}
                button#followbutton(type='button' name='follow') follow
            .personcard
                .sections
                    div
                        h2 FREQUENT COLLABORATORS
                        #frequentcollaboratorscontainer.profileboxes
                            each collaborator in person.Collaborators
                                .iconboxes
                                    img(src='/img/Profile.png' alt='')
                                    p
                                        a(href='/viewpeople') #{collaborator}
                    if (person.hasOwnProperty("Directed"))
                        div
                            h2 MOVIES DIRECTED
                            #moviesdirectedcontainer.profileboxes
                                each movie in person.Directed
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        p
                                            a(href='/movieprofile') #{movie}
                    if (person.hasOwnProperty("Written"))
                        div
                            h2 MOVIES WRITTEN
                            #movieswrittencontainer.profileboxes
                                each movie in person.Written
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        p
                                          a(href='/movieprofile') #{movie}
                    if (person.hasOwnProperty("Acted"))
                        div
                            h2 MOVIES ACTED IN
                            #moviesactedincontainer.profileboxes
                                each movie in person.Acted
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        p
                                            a(href='/movieprofile') #{movie}
