include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/viewingpeople.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title #{person.name}'s Page
    body
        +menubar
        .blackbackground
            .personheader
                p #{person.name.toUpperCase()}
                button#followbutton(type='button' name='follow') follow
            .personcard
                .sections
                    div
                        h2 FREQUENT COLLABORATORS
                        #frequentcollaboratorscontainer.profileboxes
                            each collaborator in commonCollaborators
                                .iconboxes
                                    img(src='/img/Profile.png' alt='')
                                    p
                                        a(href='/viewpeople') #{collaborator.name}
                    if (directedMovies.length > 0)
                        div
                            h2 MOVIES DIRECTED
                            #moviesdirectedcontainer.profileboxes
                                each movie in directedMovies
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        p
                                            a(href='/movieprofile') #{movie.title}
                    if (writtenMovies.length > 0)
                        div
                            h2 MOVIES WRITTEN
                            #movieswrittencontainer.profileboxes
                                each movie in writtenMovies
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        p
                                          a(href='/movieprofile') #{movie.title}
                    if (actedMovies.length > 0)
                        div
                            h2 MOVIES ACTED IN
                            #moviesactedincontainer.profileboxes
                                each movie in actedMovies
                                    .iconboxes
                                        img(src='/img/Video.png' alt='')
                                        p
                                            a(href='/movieprofile') #{movie.title}
